# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Gebruiker\Desktop\4 - 3e jaar\Advanced Programming Topics\Opdracht\ATP-Muziek-k8s\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
